//图片三像素
*img{
    vertical-align: middle;
  }
// 清除浮动
@mixin clerflex {
    &:after,
    &:before{
        content: "";
        display:table;
    }
    &:after{
        clear: both;
    }
    &:after{
      *zoom: 1;  
    }
}
// 绝对定位垂直居中
@mixin box-align($box-align-left:50%,$box-align-top:50%) {
    position: absolute;
    left: $box-align-left;
    top: $box-align-top;
    transform: translate(-50%,-50%);
}
//相对定位水平居中
@mixin relative-align {
    position: relative;
    left: 50%;
    transform: translateX(-50%);
}
// 文本居中
@mixin text-align($box-height) {
    text-align: center;
    line-height: $box-height;
}
// 媒体查询
// 414
@media screen and (width:414px){
    #hero-link{
        padding:0 40px;
    }
    #top-video-button a{
        width: 50%;
    }
    #snow-button{
        @include relative-align();
        width: 40%;
    }
    #kssw-button{
        @include relative-align();
        width: 40%;
    }
}
//411
@media screen and (width:411px){
    #hero-link{
        padding:0 45px;
    }
}
// 320
@media screen and (width:320px){
    #hero-link{
        padding: 0 40px;
    }
    #top-video-button a{
        width: 90%;
    }
    #header-rightbox{
        max-width: 280px !important;
    }
    #header-leftbox{
        max-width: 280px !important;
    }
}
// 高度812
@media screen and (height:812px){
    .bottom-logo{
        padding: 40px 0 !important;
    }
}

body,html{
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    // background-color: pink;
    font-size: 10px;
}
// 头部导航
header{
    position: absolute;
    top: 0;
    background-color: #fff;
    height: 48px;
    width: 100%;
    z-index: 1000;
    @include clerflex;
    &>a:nth-child(1){
        float: left;
        width: 48px;
        height: 48px;
        background-image: url(../upload/header_left.jpg);
    }
    &>a:nth-child(2){
       @include box-align();
       display: inline-block;
       width: 36px;
       height: 36px;
       img{
           width: 100%;
           height: 100%;
       }
    }
    &>a:nth-child(3){
        float: right;
        width: 48px;
        height: 48px;
        background-image: url(../upload/jingling.png);
        background-position: -186px -267px;
    }
    // !!!头部隐藏栏-左
    #header-leftbox{
        // display: none;
        position: fixed;
        left: -320px;
        top: 0;
        overflow:scroll;
        width: 100%;
        max-width: 320px;
        height: 100vh;
        background-color: #2f3543;
        z-index: 1000;
        transition:all 0.2s;
        // logo
        img{
            width: 100%;
            padding: 25px;
            box-sizing: border-box;
        }
        // 关闭按钮
        #header-leftbox-guan{
            position: absolute;
            top: 0;
            right: 0;
            width: 30px;
            height: 30px;
            background: url(../upload/header-leftbox-guan.jpg);
            background-size: 100%;
        }
        // 按键列表
        li{
            
            border-top: 1px solid #444a56;
            a{
                display: block;
                padding: 18px 25px;
                font-size: 16px;
                color: #e0e1e3;
            }
        } 
    }
}
// 底部按钮
#header-leftbox-guan-button{
    width: 100%;
    margin-top: 5px;
    box-sizing: border-box;
    background-color: #f7931e;
    color: #fff;
    font-size: 20px;
    padding:13px 0px; 
    font-weight: 400;
    border: 0;
}
.bottom-logo{
    display: inline-block;
    width: 100px;
    height: 50px;
    @include relative-align();
    padding: 20px 0;
    img{
        width: 100%;
        height: 100%;
        padding: 0 !important;
    }
}
// !!!右隐藏盒子
    #header-rightbox{
        position: fixed;
        top: 0;
        right: -320px;
        // 百分之90的可视窗口
        width: 100%;
        max-width: 320px;
        height: 100vh;
        overflow:scroll;
        background-color: #151a23;
        transition: all 0.2s;
        // 关闭按钮
        #header-rightbox-guan{
            position: absolute;
            top: 5px;
            right: 5px;
            background-image: url(../upload/jingling.png);
            background-position: -96px -125px;;
            width: 23px;
            height: 23px;
            z-index: 2;
        }
        .logolink{
            position: relative;
            display: block;
            width: 100%;
            height: 80px;
            span{
                display: inline-block;
                width: 90px;
                height: 40px;
                background-image: url(../upload/jingling.png);
                background-position: -18px -17px;
                @include box-align()
            }
        }
        // 登入按钮
        .dengru-button{
            padding: 20px 0;
            width: 100%;
            height: 40px;
            border-top: 1px solid #252931;
            background-color: #13171f;
        }
        button{
            width: 90%;
            height: 40px;
            border: 0;
            background-color: #0e86ca;
            color: #fff;
            font-size: 16px;
            @include relative-align();
            @include text-align(40px)
        }
        li{
            border-top: 1px solid #252931;
            a{
                display: block;
                height: 44px;
                padding: 0px 25px;
                font-size: 16px;
                color: #b9bbbd;
                line-height: 44px;
            }
        }
    }
    .zhanghu{
        width: 100%;
        a{
            display: block;
            width: 100%;
            height: 44px;
            font-size: 16px;
            color: #b9babc;
            background-color: #13171f;
            line-height: 44px;
            border-top: 1px solid #252931;
            span{
                display: inline-block;
                width: 24px;
                height: 24px;
                background: url(../upload/jingling.png) no-repeat;
                background-position: -141px -72px ;
                vertical-align: middle;
                margin-left: 15px;
            }
        }
    }
// 头部视频
.top-video{
    position: relative;
    width: 100%;
    height: 90vh;
    overflow: hidden;
    // 视频
    video{
        position: absolute;
        top: 0;
        left: 50%;
        transform: translateX(-50%);
        height: 100%;
    }
    // 视频控件
    .left-bottom-button{
        position: absolute;
        left: 3%;
        bottom: 3%;
        a{
            display: inline-block;
            & span:first-child{
                display: inline-block;
                width: 32px;
                height: 32px;
                background-image: url(../upload/top_video_zanting.png);
                vertical-align: middle;
            }
            & span:last-child{
                display: inline-block;
                font-size: 16px;
                color: #fff;
                vertical-align: middle;
                @include text-align(16px)
            }
        }
    }
}
// 视频中央logo文字
.top-video-text{
    @include box-align(50%,55%);
    width: 100%;
    padding: 20px;
    box-sizing: border-box;
    img{
        width: 100%;
        margin-bottom: 20px;
    }
    .button{
        a{ 
            display: inline-block;
            background-color: #00a5e2;
            color: #fff;
            border-radius: 5px;
            width: 75%;
            padding: 13px 22px;
            margin:5px 0;
            font-size: 20px;
            font-weight: 700;
            text-align: center;
            @include relative-align;    
        }
        &>a:nth-child(2){
            background-color: #ff9c00;
        }
    }
}
// 新闻公告
.news{
    position: relative;
    width: 100%;
    padding: 30px 15px 30px 15px;
    box-sizing: border-box;
    .news-centent{
        padding: 10px 0;
        box-sizing: border-box;
    }
    // 新闻标题
    h2{
        padding: 10px 0 25px 0;
        font-size: 30px;
        text-align: center;
    }
    // 新闻内容
    a{
        position: relative;
        display: block;
        width: 100%;
        height: 100%;
    }
    img{
        width: 100%;
        height: 100%;
    }
    i{
        position: absolute;
        display: block;
        bottom: 0;
        width: 100%;
        padding: 15px 20px;
        box-sizing: border-box;
        background-color: rgba($color: #000000, $alpha: 0.8);
        color: #fff;
        font-size: 14px;
    }
    // 新闻底部按钮
    button{
        width: 100%;
        border: none;
        background-color: #00a5e2;
        color: #fff;
        padding: 15px 20px;
        border-radius: 5px;
        box-sizing: border-box;
        text-align: center;
        font-size: 20px;
        font-weight: 700;
    }
}
// 雪国仙境2019
.snow{
    position: relative;
    width: 100%;
    background: url(../image/xueguoxianjing.jpg);
    background-repeat: no-repeat;
    background-position: top center;
    padding-bottom: 50px;
    // 雪国仙境文字内容
    .snow-text{
        position: relative;
        padding-top:330px ;
        // background-color: #fff;
    }
    h2{
        font-size: 30px;
        font-weight: 400;
        text-align: center;
        font-style: italic;
        // 字间隔
        letter-spacing: .8px;
        color: #545863;
        padding: 10px 0;
    }
    span{
        display: block;
        text-align: center;
        font-size: 21px;
        color: #4e6495;
        padding: 0 0 10px 0;
    }
    p{
        color: #333333;
        padding: 0 0 10px 0;
        font-size: 16px;
        text-align: center;
    }
}
// 雪国仙境底部按钮
.snow-button{
    width: 100%;
    margin-top: 5px;
    padding: 7px 25px;
    box-sizing: border-box;
    background-color: #ff9c00;
    color: #fff;
    font-size: 20px;
    font-weight: 700;
    border: 0;
}
// 英雄链接

.hero{
    width: 100%;
    background: url(../upload/hero_background.jpg);
    background-position: top center;
    background-size: cover;
    padding: 44px 0;
    h2{
        font-size: 44px;
        font-weight: 400;
        text-align: center;
        font-style: italic;
        padding: 20px 0 40px;
    }
    p{
        font-size: 20px;
        text-align: center;
        line-height: 1.6;
    }
    // 英雄头像
    .hero-link{
        display: table;
        text-align: center;
        width: 100%;
        padding: 0 60px 0px;
        box-sizing: border-box;
        li{
            display: inline-block;
            margin:5px;
        }
        a{
            display: block;
            width: 100%;
            height: 100%;
            &>div{
                width: 70px;
                height: 84px;
                overflow: hidden;
                transform: skew(25rad);
                background-color: #454344;
                border-radius: 5px;
            }
            span{
                display: block;
                text-align: center;
                padding: 2px 10px;
                font-size: 13px;
                color: #000;
                margin-left:-5px;
                margin-top: 5px;
            }
        }
        .hero-tou{
            display: block;
            width: calc(100% + 10px);
            height: 100%;
            background: url(../upload/thehero-dva-anniu.png) no-repeat;
            background-size: auto 100%;
            background-position: 50% 50%;
            transform: skew(-25rad) translateX(-5px);
        }
    }
}
// 购买广告
.kssw{
    width: 100%;
    box-sizing: border-box;
    padding: 0 37.5px;
    background: url(../upload/kssw_background.jpg);
    background-position: center 50%;
    padding-bottom: 20px;
    h2{
        font-size: 39px;
        text-align: center;
        padding:20px 0  20px 0;
    }
    p{
        font-size: 20px;
        text-align: center;
        padding: 10px 0;
    }
    .kssw-button{
        @extend .snow-button ;
        padding: 10px 0;
    }
}
// 底部条款
.footer{
    width: 100%;
    padding: 50px 20px 20px ;
    background-color: #202020;
    box-sizing: border-box;
    .tiaokuan{
        margin-bottom: 5px;
        a{
            font-size: 14px;
            padding: 0 10px;
            color: #ccc;
        }
        i{
            font-size: 14px;
            color: #ccc;
        }
    }
    p{
        font-size: 12px;
        color: rgba(255,255,255,.5);
        margin-bottom: 3px;
        line-height: 1.3;
        a{
            color: rgba(255,255,255,.5);
        }
    }
    & p:first-child{
        padding-top: 10px;
    }
    .footer-bottom{
        width: 100%;
        span{
            font-size: 12px;
            color: rgba(255,255,255,.5);
            margin-bottom: 3px;
        }
        a{
            color: rgba(255,255,255,.5);
        }
    }
}